/*
yellow: c4cca7
gray: 545456
blue: 6e8b9d
oldblue: #b0c4de
 */


body {
	text-align:center;
	color: black;
	background-image:url('./Pictures/background.jpg');
	font-size: 14pt;
	font-family: serif;
}

p {margin-top:30px}
a {text-decoration:none; font-size:18pt;}
a:hover {text-decoration:underline; font-weight:bold; }

.content { margin:0 auto; width:1200px; text-align:left; border: 2px solid black;}

.main {font-variant: normal}

div {
	background-color: #545456;
	font-size: 14pt;
	font-family: "Times New Roman", Times, Georgia, serif;
	font-variant: small-caps;
	text-align: left;
}

h1 
{
	font-size: 24pt;
	font-weight: bold;
	text-decoration: underline;
	text-align:center;
}

h2 
{
	font-size:20pt;
	font-weight: bold;
	text-decoration: underline;
	text-align:center;
}

h3
{
	font-size:16pt;
	font-weight: bold;
	text-decoration: underline;
}


.left{
		float:left;
		position: relative;
		background: #fff;
		height: 300px;
		padding:30px;
		margin-right: 30px;
		margin-left: 0px;
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
		-moz-box-shadow: 1px 1px 3px #222;
		-moz-transform: rotate(-5deg);
		-webkit-box-shadow: 1px 1px 3px #222;
		-webkit-transform: rotate(-5deg);
		box-shadow: 1px 1px 3px #222;
		-o-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}
	
.right {
		float:right;
		position: relative;
		background: #fff;
		height: 300px;
		padding: 30px;
		margin-left: 30px;
		margin-right: 0px;
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
		-moz-box-shadow: 1px 1px 3px #222;
		-moz-transform: rotate(+5deg);
		-webkit-box-shadow: 1px 1px 3px #222;
		-webkit-transform: rotate(+5deg);
		box-shadow: 1px 1px 3px #222;
		-o-transform: rotate(+5deg);
		transform: rotate(+5deg);
			}

.Name_Header {text-align:center; font-size:14pt;}
			
			
	.page{padding-left:30px; padding-right:30px; padding-top:30px; padding-bottom:30px}
	
	.menubar{ text-align:center; background-color:#6e8b9d;}
	
	ul#navlist{list-style-type:none; margin:0px; padding:0px; height:50px; }
	#navlist li{display:inline; font-weight:bold; font-variant:small-caps;}
	#navlist a{padding:10px 10px; display:inline-block;}
	
	body#home a#homenav, body#resume a#resumenav {color: #fff; text-decoration:none;}